aws_region              = "ap-southeast-1"
environment             = "production"
project_name            = "vstep"
frontend_bucket_name    = ""
enable_custom_domain    = false
domain_name             = ""
route53_zone_id         = ""
create_route53_record   = false
acm_certificate_arn     = ""
cloudfront_price_class  = "PriceClass_100"
enable_cloudfront_logging = false
tags = {}
